<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/search.css">
        <title>Next Episode</title>
    </head>

    <body>
        <h3>Liked TV Quotes:</h3>
        {{#if tvQuotes}}
        <main id="mymain">
            {{#each tvQuotes}}
            <div class="show">
                <div class="tv-quote-info">
                    <span>{{quote}}</span>
                    <br>
                    <span>- {{source}}</span>
                    <br>
                    <span>- {{author}}</span>
                </div>
                <div class='buttons'>
                    <form action="/quotes/likes/{{quote}}" method="POST" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn red">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
            {{/each}}
        </main>
        {{else}}
        <p>You have not liked any tv quotes.</p>
        {{/if}}

    </body>

</html>